header{
    margin-bottom: 10px;
}
nav{
    margin-top: 5px;
}
.header-link{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: #ff8e2b;
    padding: 3px 10px;
    margin: 3px;
    font-size: 20px;
}
.header-link:hover{
    text-decoration: underline;
}

.blue{
    background: linear-gradient(90deg, rgb(33, 136, 255), rgb(0, 73, 156));
}
.green{
    background: linear-gradient(90deg, rgb(6, 180, 0), rgb(5, 150, 0));
}
.orange{
    background: linear-gradient(90deg, rgb(255, 145, 0), rgb(209, 94, 0));
}
.stat-cards{
    display: flex;
    border: 1px solid black;
    background-color: white;
    justify-content: space-around;
}
.card{
    display: inline-block;
    width: 31%;
    padding: 8px 20px;
    margin: 10px 0;
}
.title{
    color: white;
    font-size: 30px;
}
.result{
    color: white;
    font-size: 40px;
    text-align: right;
}


.card-user{
    display: flex;
    padding: 5px;
    background-color: white;
    margin: 5px 0;
    border: 1px solid black
}
.card-user img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card-user a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding: 12px 0;
    margin-left: 10px;
}
.red{
    background-color: red;
}
@media(max-width: 700px){
    .container{
        width: 95%;
    }
    .stat-cards{
        display: block;
    }
    .card{
        width: 98%;
        margin: 5px 1%;
    }
    .title{
        font-size: 35px;
    }
}