body {
    background-color: #0d2137;
}

form {
    width: 95%;
    margin: 10px auto;
    background-color: #e0eaf5;
    padding: 30px 10px;
    border-radius: 5px;
}

#title {
    text-align: center;
}

.form-control textarea, .form-control input {
    width: 100%;
    font-size: 22px;
    padding: 5px 8px;
    margin: 5px 0;
    outline: none;
    border: 2px solid grey;
    border-radius: 5px;
    resize: none;
}

.form-control textarea:focus, .form-control input:focus {
    border-color: blue;
}
#image-upl[type='file']{
    display: none;
}
.input-lbl{
    font-size: 25px;
    padding-left: 5px;
}
.label-img{
    text-align: center;
    width: 100%;
    border-radius: 5px;
    background-color: #2e77ea;
    color: white;
    display: inline-block;
    padding: 8px 10px;
    margin: 5px 0;
    font-size: 22px;
    cursor: pointer;
}
.label-img:hover{
    background-color: #004fce;
}
.uploaded{
    background-color: #009300;
}
.submit-btn{
    width: 100%;
    font-size: 25px;
    margin: 5px 0;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #2e77ea;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: #004fce;
}
.logout{
    display: inline-block;
    font-size: 25px;
    padding: 5px 20px;
    background-color: rgb(255, 45, 45);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px 0;
}
.logout:hover{
    background-color: rgb(199, 0, 0);
}
footer{
    border-top: 2px solid white;
}