.profile-flex{
    display: flex;
    margin-top: 10px;
}
.profile-img{
    border: 2px solid black;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.profile-right{
    margin-left: 20px;
}
.profile-right section{
    display: flex;
}
.profile-name{
    font-size: 19px;
}
.button{
    text-decoration: none;
    display: inline-block;
    padding: 5px 12px;
    font-size: 20px;
    margin-left: 20px;
    background-color: #2e77ae;
    color: white;
    border: none;
    border-radius: 4px;
}
.profile-table{
    font-size: 20px;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.profile-table th{
    padding-left: 8px;
}
@media(max-width:500px){
    .profile-right section{
        display: block;
    }
}