* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	margin-bottom: 50px;
    background-color: #e0eaf5;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header {
	padding: 8px 0;
	background-color: #0d2137;
	border-bottom: 3px solid #ff8e2b;
}

#header-flex {
	display: flex;
	justify-content: space-between;
}

header #afisha a {
	font-size: 25px;
	text-decoration: none;
	color: white;
}

#header-nav {
	display: inline-block;
}

.nav-link {
	padding: 2px 5px;
	margin: 0 3px;
	display: inline-block;
	color: #0d2137;
	background-color: #ff8e2b;
	font-size: 20px;
	border-radius: 3px;
	text-decoration: none;
}

.nav-link:hover{
	text-decoration: underline;
}
footer{
	position: fixed;
    left: 0;
    bottom: 0;
	width: 100%;
	background-color: #0d2137;
	color: white;
	font-size: 20px;
	padding: 5px 0;
	text-align: center;
}
/* For test */
.button{
	display: inline-block;
	background-color: #2e77ae;
	color: white;
	text-decoration: none;
	font-size: 22px;
	padding: 5px ;
	margin: 3px 5px;
}
.button:hover{
	text-decoration: underline;
}

@media(max-width:300px){
	#header-flex{
		display: block;
	}
	#header-nav{
		display: flex;
		width: 100%;
		justify-content: flex-end;
	}
}